.navbar {
    border-radius: 0px;
}

.bg-overlay{
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 470px solid #00a7ef9c;
    border-right: 500px solid transparent;
}

.overlay2 {
    position: absolute;
    top: 70%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background: #31708f80;
}

.text {
    color: white;
    font-size: 5em;
    position: absolute;
    top: 9%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(16%, -395%);
    text-align: center;
   
}
.strt-btn {    
    position: absolute;
    top: 9%;
    left: 45%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(0%, 35%);
    text-align: center;
    border-radius: 0px;
    background: #fff;
    border: 1px solid #fff;
    color: #222 !important;
}

@media (max-width:767px)  {   
   
    .mb-overlay {
        padding: 0;
        width: 100%;
        height: 200px;
        background: #00a7ef;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .mb-overlay2 {
        padding: 0;
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f78247;
    }
    .mb-strt-btn {
        text-align: center;
        border-radius: 0px;
        background: #fff;
        border: 1px solid #fff;
        color: #222 !important;        
    }
    h1{
        color:#fff;
    }
}


